* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  height: 0;
  width: 100vw;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-register {
    width: 25%;
    min-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.6);
    gap: 20px;
    border-radius: 10px;
    padding: 1rem 2rem;
  }

  #login-form,
  #register-form {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    gap: 20px;

    h1 {
      text-align: center;
    }

    &.active {
      display: flex;
    }

    form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;

      label {
        font-size: 1.2rem;

        font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif span {
          display: inline-block;
          transform: translate(10px, 35px);
          transition: 0.1s linear;
        }

        &.active {
          span {
            transform: translate(10px, 0px);
          }
        }
      }

      input:not([type="submit"]) {
        width: 100%;
        border: 1px solid #000000;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 1rem;
      }

      input[type="submit"] {
        display: inline-block;
        margin: 0 auto;
        border-radius: 5px;
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1.2rem;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: #000000;
          color: #fff;
        }
      }


    }

    p {
      a {
        color: blue;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .room-data {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2rem;
    gap: 2rem;

    .logOut {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 1.2rem;
      padding: 0.5rem 0.8rem;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #000000;
        color: #fff;
      }
    }

    .userData {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .join-room {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;

      input {
        font-size: 1.2rem;
        padding: 10px 20px;
      }

      button {
        font-size: 1.2rem;
        padding: 0.5rem 0.8rem;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: #000000;
          color: #fff;
        }
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #000000;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      font-family: sans-serif;

      tr {
        &:nth-child(even) {
          background-color: #f2f2f2;
        }

        th,
        td {
          padding: 25px 15px;
          font-size: 1.2rem;
          text-align: left;

          button {
            font-size: 1.2rem;
            padding: 0.5rem 0.8rem;
            border-radius: 5px;
            outline: none;
            border: none;
            box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.6);
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &.join-btn {
              background-color: #b8ffb8;

              &:hover {
                background-color: #00d100;
                color: white;
              }
            }

            &.delete-btn {
              background-color: #ffc9c9;

              &:hover {
                background-color: #e80000;
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .room {
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
    justify-content: stretch;
    align-items: center;
    align-self: flex-end;

    .users-joined {
      display: flex;
      padding: 10px;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 50px;
      gap: 15px;
      box-shadow: 5px 0px 10px rgba($color: #fff, $alpha: 0.2);
      z-index: 10;
      background-color: #272822;

      .user-joined {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &:hover {
          .name {
            opacity: 1;
          }
        }

        .name {
          opacity: 0;
          position: absolute;
          left: 100%;
          transition: all 0.3s ease-in-out;
          border: 1px solid black;
          background-color: #fff;
          z-index: 1;
          border-radius: 5px;
          padding: 5px 10px;
        }

        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }
    }

    #editor {
      width: 100%;
      height: 100%;

      .editor_settings {
        width: 100%;
        height: 10%;
      }

      #workspace {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;

        #ACE_EDITOR {
          width: 70%;
          height: 100%;
        }

        #io {
          width: 30%;
          height: 100%;

          >* {
            width: 100%;
            height: 50%;

            h5 {
              background-color: #272822;
              color: #aaa;
              padding: 5px;
              font-size: 1.2rem;
            }

            .ace_editor {
              width: 100%;
              height: 90%;
            }
          }
        }
      }
    }

    #resize-editor {
      width: 10px;
      height: 100%;
      background-color: transparent;
      float: right;
      cursor: col-resize;
      transition: all 0.1s linear;

      &:hover {
        background-color: blue;
      }
    }

    .video-chat {
      height: 100%;
      width: 50%;
      max-height: calc(100vh - 50px);
      overflow: hidden;
      display: flex;
      justify-content: center;
      padding-bottom: 10px;
      align-items: center;
      flex-direction: column;

      .users {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;

        .user-video {
          width: 0;
          height: 0;
          transition: all 0.5s linear;
          border: 2px solid white;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #272822;

          &.active {
            border: 2px solid black;
            width: 100%;
            height: 50%;
            max-height: 50%;
          }

          video {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.5s linear;
            pointer-events: none;
          }
        }

        &:has(.user-video.active) {
          height: 90%;
        }
      }

      &:has(.user-video.active) {
        justify-content: space-between;
      }

      .video-buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 10px;

        button {
          font-size: 1rem;
          padding: 0.5rem 0.8rem;
          background-color: white;
          border-radius: 5px;
          transition: 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            background-color: black;
            color: white;
          }
        }
      }

      &.wide {
        .users {
          .user-video {
            video {
              object-fit: fill;
            }
          }
        }
      }
    }
  }
}